.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;

  .box {
    background-color: var(--color-dark-2);
    border-radius: 15px;

    width: 100%;
    max-width: 350px;
    position: relative;
    overflow: hidden;

    .wrapper {
      width: 300%;
      display: flex;
      transition: 0.3s ease-in-out;
    }

    .wrapper.active {
      width: 300%;
      transform: translateX(-33.33%);
      -webkit-transform:translateX(-33.33%);
    }
    .wrapper.register {
      transform: translateX(-66.66%);
      -webkit-transform:translateX(-66.66%);
    }
    .wrapper.active form {
      display: flex;
    }

    form.main {
      display: flex;
    }

    form {
      display: none;
      flex-direction: column;
      width: 33.33%;
      padding: 25px;

      .title {
        display: flex;
        align-items: center;
        gap: 15px;
        font-size: 28px;
        margin-bottom: 12px;

        svg {
          display: block;
          width: 25px !important;
          height: 25px !important;
          color: #fff;
          fill: #fff;
          cursor: pointer;
        }
      }

      .code {
        display: flex;
        gap: 10px;

        input {
          text-align: center;
          font-weight: 600;
          font-size: 20px;
        }
      }
  
      .description {
        margin-bottom: 24px;
        color: #ffffff54;
        font-size: 18px;
      }

      label {
        color: var(--color-gray);
        margin-bottom: 4px;
        display: block;
      }

      .input {
        margin-bottom: 8px;
      }

      .button {
        width: 100%;
        margin-top: 12px;
      }
    }
  }
}