:root {
  --color-red: #ea3c10;
  --color-blue: #4058f2;
  --color-purple: #ab47bc;
  --color-orange: #FFA500;
  --color-indigo: #5910ea;
  --color-dark: #111315;
  --color-dark-2: #171a1c;
  --color-gray: #5c6166;

  --color-text: #fff;
  --color-bg: #101010;
  --color-block: #141414;
  --color-main: var(--color-indigo);
}
// :root {
//   --color-text: #101010;
//   --color-bg: #f2f2f2;
//   --color-block: #fff;
// }
*::-webkit-scrollbar {
  background-color: transparent;
  border-radius: 8px;
  width: 8px;
  overflow: hidden;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--color-gray);
  border-radius: 8px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
button, input, textarea {
  background: none;
  outline: none;
  border: none;
  color: var(--color-text);
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
a {
  color: var(--color-text);
  text-decoration: none;
}
img {
  display: block;
}
body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  margin: 0;
}
.container {
  max-width: 1100px;
  width: calc(100% - 24px);
  margin: 0 auto;
}
.mini-container {
  max-width: 800px;
  width: calc(100% - 24px);
  margin: 0 auto;
}
main {
  flex: 1 0 auto;
}


html, body, #root {
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.block {
  background: var(--color-block);
}



.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  background: var(--color-main);
  color: #fff;

  cursor: pointer;

  font-weight: 500;
  letter-spacing: 0.5px;

  border-radius: 8px;
  padding: 8px 16px;

  transition: 0.25s;
  
  svg {
    display: block;
    width: 20px !important;
    height: 20px !important;
    fill: var(--color-text) !important;
    color: var(--color-text) !important;
  }

  &:hover {
    filter:opacity(0.8)
  }

  &:active {
    filter:opacity(0.6)
  }
}


.button-red {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  border: 1px solid var(--color-red);
  color: var(--color-red);

  cursor: pointer;

  font-weight: 500;
  letter-spacing: 0.5px;

  border-radius: 8px;
  padding: 8px 16px;

  transition: 0.25s;

  &:hover {
    background-color: var(--color-red);
    color: #fff;
    transition: 0.25s;
  }
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input {
  background-color: var(--color-bg);
  border: 1px solid rgba($color: gray, $alpha: 0.15);
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  color: var(--color-text);
  appearance: none;

  &::placeholder {
    color: gray;
  }

  &:disabled {
    color: gray;
  }

  &:focus {
    border: 1px solid var(--color-main);
  }
}



h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}





// loaders


.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}
.lds-dual-ring {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 0.75s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

